.toolbar {
    padding-bottom: 20px;
}

.refresh {
    margin-left: 10px;
}

.page-title {
    align-self: center;
    margin-right: 10px;
}

.previous-page {
    margin-right: 10px;
}

.page {
    align-self: center;
}

.next-page {
    margin-left: 10px;
}